$selected_bg_color: #ffd86e;
$selected_fg_color: #000000;
$variant: 'darkest';
$full-panel: 'true';
$asset_suffix: '-darkest';
$base_color: #050505;
$bg_color: #050505;

@import "gnome-shell-sass/_colors"; //use gtk colors
@import "gnome-shell-sass/upstream/gnome-shell-sass/_drawing";
@import "gnome-shell-sass/upstream/gnome-shell-sass/_common";
@import "gnome-shell-sass/upstream/gnome-shell-sass/_widgets";
@import "gnome-shell-sass/_common-tweaks";
