

$variant: 'dark';
$full-panel: 'true';
$base_color: #050505;
$bg_color: #050505;

@import "gnome-shell/_colors"; //use gtk colors
@import "gnome-shell/upstream/gnome-shell-sass/_drawing";
@import "gnome-shell/upstream/gnome-shell-sass/_common";
@import "gnome-shell/upstream/gnome-shell-sass/_widgets";
@import "gnome-shell/_common-tweaks";
