@import "Flat-Remix-Darkest";

//force symbolic icons
stage {
  -st-icon-style: symbolic;
}

.toggle-switch {
    background-image: url("resource:///org/gnome/shell/theme/toggle-off-hc.svg");
    &:checked { background-image: url("resource:///org/gnome/shell/theme/toggle-on-hc.svg"); }
}

@each $v in us, intl {
  .toggle-switch-#{$v} {
    background-image: url("resource:///org/gnome/shell/theme/toggle-off-hc.svg");
    &:checked { background-image: url("resource:///org/gnome/shell/theme/toggle-on-hc.svg"); }
  }
}
