$primary_color: #ffffff;
$secondary_color: #000000;
$bg_color: #ffffff;
$highlight_color: lighten(#383c4a, 40%);
$fg_color: #60636e;
$dark_font_color: darken($fg_color, 30%);
$light_font_color: lighten($fg_color, 30%);
$panel_font_color: #ffffff;
$panel_background_color: rgba(0, 0, 0, .2);
$color1: #367bf0;
$color2: #19a187;

@if $variant == 'dark' {
  $primary_color: #2f343f;
  $secondary_color: #ffffff;
  $bg_color: #383c4a;
  $highlight_color: #ffffff;
  $fg_color: #ffffff;
  $dark_font_color: #ffffff;
  $light_font_color: darken($fg_color, 20%);
  $panel_font_color: #ffffff;
  $panel_background_color: rgba($bg_color, .3);
  $color1: #367bf0;
  $color2: #19a187;
}

@if $variant == 'darkest' {
  $primary_color: #000000;
  $secondary_color: #ffffff;
  $bg_color: #191919;
  $highlight_color: #ffffff;
  $fg_color: #ffffff;
  $dark_font_color: #ffffff;
  $light_font_color: darken($fg_color, 20%);
  $panel_font_color: #ffffff;
  $panel_background_color: rgba($bg_color, .3);
  $color1: #367bf0;
  $color2: #19a187;
}

@if $variant == 'miami' {
  $primary_color: #000000;
  $secondary_color: #ffffff;

  $bg_color: #290351;
  $highlight_color: #ffffff;
  $fg_color: #ffffff;
  $dark_font_color: #ffffff;
  $light_font_color: rgba(255, 255, 255, .7);
  $panel_font_color: #ffffff;
  $panel_background_color: rgba($bg_color, .3);
  $color1: #f0f;
  $color2: #08ecbe;
}

@if $variant == 'miami-dark' {
  $primary_color: #000000;
  $secondary_color: #ffffff;

  $bg_color: #15022a;
  $highlight_color: #ffffff;
  $fg_color: #ffffff;
  $dark_font_color: #ffffff;
  $light_font_color: rgba(255, 255, 255, .7);
  $panel_font_color: #ffffff;
  $panel_background_color: rgba($bg_color, .3);
  $color1: #fc17af;
  $color2: #5aeed8;
}

$warning_color: #fd7d00;
$error_color: #d41919;
$destructive_color: $error_color;

$link_color: $color1;
$selected_fg_color: #ffffff;
$osd_fg_color: #dbdee0;
$osd_bg_color: #2e3436;
