/* OVERVIEW */

.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

#overviewGroup {
  background-color: $system_base_color;
}

.overview-controls {
  padding-bottom: $base_margin * 8;
}
