
$primary_color: #FFF;
$secondary_color: #000;
$bg_color: #FFF;
$highlight_color: #9fb0b9;
$fg_color:  #5c616c;
$dark_font_color: darken($fg_color, 30%);
$light_font_color: lighten($fg_color, 30%);
$panel_font_color: #FFF;
$panel_background_color: rgba(0,0,0, .2 );
$color1: #367bf0;
$color2: #19a187;
$warning_color: #ff6600;
$error_color: #d31919;


@if $variant == 'dark'
{
  $primary_color: #2f343f;
  $secondary_color: #FFF;
  $bg_color: #383C4A;
  $highlight_color: lighten(#9fb0b9, 90%);
  $fg_color: #FFF;
  $dark_font_color: #FFF;
  $light_font_color: darken($fg_color, 20%);
  $panel_font_color: #FFF;
  $panel_background_color: rgba(0, 0, 0, .2);
  $color1: #367bf0;
  $color2: #19a187;
  $warning_color: #ff6600;
  $error_color: #d31919;
}

@if $variant == 'darkest'
{
  $primary_color: #000;
  $secondary_color: #FFF;
  $bg_color: #050505;
  $highlight_color: lighten(#9fb0b9, 90%);
  $fg_color: #FFF;
  $dark_font_color: #FFF;
  $light_font_color: darken($fg_color, 20%);
  $panel_font_color: #FFF;
  $panel_background_color: rgba(0, 0, 0, .2);
  $color1: #367bf0;
  $color2: #19a187;
  $warning_color: #ff6600;
  $error_color: #d31919;
}

@if $variant == 'miami'
{
  $primary_color: #000;
  $secondary_color: #FFF;

  $bg_color: #290351;
  $highlight_color: lighten(#9fb0b9, 90%);
  $fg_color: #FFF;
  $dark_font_color: #FFF;
  $light_font_color: rgba(255, 255, 255, .7);
  $panel_font_color: #FFF;
  $panel_background_color: rgba(#020322, .2);
  $color1: magenta;
  $color2: #08ecbe;
  $warning_color: #ff6600;
  $error_color: #d31919;
}

@if $variant == 'miami-dark'
{
  $primary_color: #000;
  $secondary_color: #FFF;

  $bg_color: #120E29;
  $highlight_color: lighten(#9fb0b9, 90%);
  $fg_color: #FFF;
  $dark_font_color: #FFF;
  $light_font_color: rgba(255, 255, 255, .7);
  $panel_font_color: #FFF;
  $panel_background_color: rgba(0, 0, 0, .2);
  $color1: #FC17AF;
  $color2: #5AEED8;
  $warning_color: #ff6600;
  $error_color: #d31919;
}





$selected_fg_color: #ffffff;
$borders_edge: transparentize(#eeeeec, 0.9);
$osd_fg_color: #eeeeec;
$osd_bg_color: #2e3436;
$osd_borders_color: transparentize(#000, 0.3);
$insensitive_fg_color: mix(#eeeeec, $bg_color, 50%);


$base_color: brown;
$insensitive_bg_color: purple;
$destructive_color: yellow;
$link_color: $color1;