
$primary_color: white;
$secondary_color: black;


$bg_color: white;
$highlight_color: #9fb0b9;
$font_color:  #5c616c;
$dark_font_color: darken($font_color, 30%);
$light_font_color: lighten($font_color, 30%);
$panel_font_color: white;
$panel_background_color: rgba(0,0,0, .2 );
$color1: #367bf0;
$color2: #1ba389;
$warning_color: #fd7e00;
$error_color: #d41a1a;


// Dark
/*
$primary_color: black;
$secondary_color: white;
$bg_color: #050505;
$highlight_color: lighten(#9fb0b9, 90%);
$font_color: white;
$dark_font_color: white;
$light_font_color: darken($font_color, 20%);
$panel_font_color: white;
$panel_background_color: rgba(0,0,0, .2);
$color1: #367bf0;
$color2: #1ba389;
$warning_color: #fd7e00;
$error_color: #d41a1a;
*/


// Miami
/*
$primary_color: black;
$secondary_color: white;

$bg_color: #120E29;
$highlight_color: lighten(#9fb0b9, 90%);
$font_color: white;
$dark_font_color: white;
$light_font_color: rgba(255,255,255, .7);
$panel_font_color: white;
$panel_background_color: rgba(0,0,0, .2);
$color1: #FC17AF;
$color2: #5AEED8;
$warning_color: #fd7e00;
$error_color: #d41a1a;
*/





$fg_color: #eeeeec;
$selected_fg_color: #ffffff;
$borders_edge: transparentize(#eeeeec, 0.9);
$osd_fg_color: #eeeeec;
$osd_bg_color: #2e3436;
$osd_borders_color: transparentize(black, 0.3);
$insensitive_fg_color: mix(#eeeeec, $bg_color, 50%);


