$panel-corner-radius: 0;

/* Check Boxes */

.check-box {
    StBin {
       background-image: if($variant == 'light', url("assets/checkbox-off.svg"), 
                                                 url("assets/checkbox-off-dark.svg"));
    }

    &:focus StBin { background-image: if($variant == 'light', url("assets/checkbox-off-focused.svg"),
                                                              url("assets/checkbox-off-focused-dark.svg")); }
    &:checked StBin { background-image: if($variant == 'light', url("assets/checkbox.svg"),
                                                                url("assets/checkbox-dark.svg")); }
    &:focus:checked StBin { background-image: if($variant == 'light', url("assets/checkbox-focused.svg"),
                                                                      url("assets/checkbox-focused-dark.svg")); }
}

/* Popovers/Menus */

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-border-radius: $base_border_radius + 1px;
    -arrow-background-color: $bg_color;
    -arrow-border-width: 12px;
    -arrow-border-color: transparent;
    -arrow-base: 0;
    -arrow-rise: 0;
    -arrow-box-shadow: none;
    margin: if($full-panel == 'true', .2em, .45em);
    background-color: transparentize($bg_color, .6);
    box-shadow: 0 2px 4px -6px black;
    border-radius: $base_border_radius + 4px;
}

// menu items
.popup-menu-item {
    border-radius: $base_border_radius;

    &:checked { background-color: transparent; }

    &.selected, &:active {
        background-color: transparentize(if($variant=='light', black, white), if($variant=='light', 0.96, 0.9));
        color: $fg_color;
    }
}

// popover submenus
.popup-sub-menu {
    border: 1px solid transparentize($borders_color, 0.2);
    border-radius: $base_border_radius;
}


/* Window Picker */

.window-close {
    background-image: url("assets/close-window.svg");
    background-size: 32px;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: transparent;
    height: 32px;
    width: 32px;
    -shell-close-overlap: 16px;

    &:hover {
        background-image: url("assets/close-window-hover.svg");
        background-color: transparent;
    }

    &:active {
        background-image: url("assets/close-window-active.svg");
        background-color: transparent;
    }
}

/* Tiled window previews */

.tile-preview-left.on-primary { border-radius: $panel-corner-radius 0 0 0; }

.tile-preview-right.on-primary { border-radius: 0 $panel-corner-radius 0 0; }

.tile-preview-left.tile-preview-right.on-primary { border-radius: $panel-corner-radius $panel-corner-radius 0 0; }

/* TOP BAR */

#panelBox {
    padding: if($full-panel == 'true', 0, .35em .9em);
    background: transparent;
}

#panel {
    $_panel_bg: transparentize(black, .8);
    $_panel_fg: white;
    $_panel_text_shadow: transparentize(black, 0.5) 0 1px 2px;
    font-size: .9em;
    height: 2em;
    border-radius: if($full-panel == 'true', 0, $base_border_radius + 1px);
    background: $_panel_bg;
    text-shadow: $_panel_text_shadow;

    .popup-menu-arrow { width: 0; }

    StIcon { icon-shadow: $_panel_text_shadow; }

    &.unlock-screen,
    &.login-screen,
    &.lock-screen,
    &:overview {
        background-color: transparent;
        .panel-button {
            &, &:hover, &:active, &:focus, &:overview, &:checked { color: white; }
        }
    }

    .panel-corner { -panel-corner-radius: $panel-corner-radius; }

    .panel-button {
        color: $_panel_fg;
        &:active, &:focus, &:overview, &:checked {
            color: $_panel_fg;
            box-shadow: inset 0 -2px 0px white;
        }
    }

    .panel-button.clock-display {
        // Move highlight from .panel-button to .clock
        &:active, &:overview, &:focus, &:checked {
            box-shadow: none;

            .clock {
              box-shadow: inset 0 -2px 0px white;
          }
        }
    }

    #panelActivities.panel-button {
        margin-left: .4em;
        StLabel {
            background-image: url("assets/view-grid-symbolic.svg");
            background-size: contain;
            width: 1.5em;
            height: 1.5em;
            color: transparent;
        }
    }
}

/* DASHBOARD */

#dash {
    color: $osd_fg_color;
    background-color: transparent;
    border: none;

    .overview-icon StIcon {
        color: white;
        icon-shadow: transparentize(black, .3) 0 2px 6px;
    }
}

